/* Create three equal columns that float next to each other
.column {
  float: left;
  width: 33.33%;
}
Clear floats after the columns
.row:after {
  content: "";
  display: table;
  clear: both;
}
Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less)
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} */

.app-container{
  border-radius: 25px;
  width: 80vw;
  /* width: auto; */
  margin: 50px auto;
  margin-bottom: 100px ;
  min-height: fit-content;
  padding: 50px, 50px;
  display: flex;
  flex-wrap: wrap;
  /* box-shadow: 0 4px 8px rgba(95, 158, 160); */
}

.navbar{
  border-radius: 25px;
  height: 100px;
  background-color: rgb(95, 158, 160);
  /* border-bottom: 1px rgb(95, 158, 160); */
  display: flex;
  box-shadow: 0 8px 8px rgba(95, 158, 160);
  width: 100%;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 50px 50px;
  align-items: end;
  justify-content: right;
  align-items: end;
  a{ color: #000000;}
  
   

}


.data-table {
  border-radius:25px;
  /* border: 2px solid rgba(95, 158, 160); */
  overflow: auto;
  width: 100%;
  box-shadow: 0 8px 8px rgba(95, 158, 160);
}

.data-table table {
  border-radius:20px;
  /* border: 1px solid rgba(95, 158, 160); */
  height: 100%;
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
  
}

.data-table caption {
  border-radius:20px;
  caption-side: top;
  text-align: left;
}

.data-table th {
  border-radius:20px;
  /* border: 1px solid #dededf; */
  background-color:rgba(95, 158, 160) ;
  /* color: #000000; */
  padding: 5px;
  box-shadow: 0 8px 8px rgba(95, 158, 160)
  
}

.data-table td {
  border: radius 20px;
  /* border: 1px solid rgba(95, 158, 160); */
  background-color: rgb(255, 255, 255);
  /* color: #000000; */
  padding: 1px;
  height: 20px;
  box-shadow: 0 4px 8px rgba(95, 158, 160)
}

.submit-button {
  background:linear-gradient(to bottom, rgba(89, 156, 158, 0.693) 5%, rgba(95, 158, 160) 100%);
  background-color:#44c767;
  border-radius:25px;
  border:2px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  font-weight:bold;
  padding:11px 12px;
  text-decoration:none;
  text-shadow:0px 7px 6px #2f6627;
}
.submit-button:hover {
  background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color:#5cbf2a;
}
.submit-button:active {
  position:relative;
  top:1px;
}
.inputfield{ 
  border-radius:5px;

  /* border: 1px solid rgba(95, 158, 160); */
  /* background-color: rgb(255, 255, 255); */
  outline:none;
  padding: 5px;
  width: 96%;
  height:95%;
  /* box-shadow: 0 8px 8px rgba(95, 158, 160)
}
   */
}
.headerline{
  text-align: center;
  /* border-radius: 25%; */
            /* padding: 150px 20px; */
            font-size: 25px;
            /* font-weight: 100; */
            /* color: #ffffff; */
            /* text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000,
                -1px 0px 0 #000,
                1px 0px 0 #000,
                0px -1px 0 #000,
                0px 1px 0 #000; */
  color: rgba(95, 158, 160)!important;
  /* font-style: normal!important;
  font-size: 25px! important;
  */
  box-shadow: 0 8px 8px rgba(95, 158, 160)
    
}
