/* Create three equal columns that float next to each other
.column {
  float: left;
  width: 33.33%;
}
Clear floats after the columns
.row:after {
  content: "";
  display: table;
  clear: both;
}
Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less)
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} */

.app-container{
  width: 80vw;
  margin: 50px auto;
  height: 90vh;
  padding: 20px, 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.navbar{
  height: 100px;
  border-bottom: 1px solid black;
  display: flex;
}

nav ul li{
  list-style: none;
  display: inline-block;
  padding: 50px 10px;
  align-items: end;
  justify-content: right;
  align-items: end;  

}

.data-table {
  overflow: auto;
  width: 100%;
}

.data-table table {
  border: 1px solid #dededf;
  height: 100%;
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.data-table caption {
  caption-side: top;
  text-align: left;
}

.data-table th {
  border: 1px solid #dededf;
  background-color: #3aa9f2;
  color: #000000;
  padding: 5px;
}

.data-table td {
  border: 1px solid #dededf;
  background-color: #d4d4d4;
  color: #000000;
  padding: 5px;
}

.submit-button {
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:29px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:11px 12px;
	text-decoration:none;
	text-shadow:0px 7px 6px #2f6627;
}
.submit-button:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.submit-button:active {
	position:relative;
	top:1px;
}