.gridContainer{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        border-radius: 25px;
}

.gridChild{
        flex: 0 0 200px;
        margin: 10px;
        width: 100%;
        height:  250px;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
        border-radius: 25px;
}

.properties-container{
        margin-bottom: 10px;
        width: 100%;
        height: 300px;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(95, 158, 160);
}

.properties-container thead,tr,td{
        line-height: 1em;
}
/* .properties-table{
        ;
} */


.property-icons{
        height: 40px;
        vertical-align: top;
        /* box-shadow: 0 4px 8px rgba(95, 158, 160); */
}

.address-card-amenities{
        height: 40px;
        
}

.property-table{
        top:-150px;
        width: 80px;
        left: 155px;
        position: relative;
}

.property-images{
        width: 150px;
        height: 150px;
        object-fit: cover;
        display: inline-block;
        vertical-align: middle;
        border-radius:10px;
        box-shadow: 0 4px 8px rgba(95, 158, 160);
}

.address-div{
        position: relative;
        top: -130px
}

.property-status{
        color: red;
        font-weight: 1000;
}

.more-prop-info{
        position: relative;
        left: 300px;
        top: -155px;
}

.SOLD{
        color: red;
}

.FOR-SALE{
        color: green;
}

.WITHDRAWN{
        color: #ffbf00;
}
.dropdown{
        border-radius:25px;
        /* border: 2px solid rgba(95, 158, 160); */
        overflow: auto;
        width: 15%;
        padding: 1px;
        margin: 20px;
        box-shadow: 0 8px 8px rgba(95, 158, 160);
      }  
